:root {
  --column: 10;
  --row: 10;
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.w-20 {
  width: 5rem;
}
.gap-2 {
  gap: .5rem;
}
.text-right {
  text-align: right;
}

.pointer-events-none {
  pointer-events: none;
}

.start-button {
  width: 4rem;
  font-size: 1.25rem;
}

#stage {
  background: #aaa;
  display: grid;
  font-family: Arial;
  font-weight: bold;
  justify-content: center;
  grid-template-columns: repeat(var(--column), 2rem);
  grid-template-rows: repeat(var(--row), 2rem);
  gap: 1px;
  padding: 1px;
}

.grid-item {
  background: #eee;
  border-width: 2px;
  border-style: solid;
  border-color: white #ddd #ddd white;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.grid-item:not(.open):hover {
  background: #bbb;
}
.count-1 {
  color: var(--blue)
}
.count-2 {
  color: var(--green)
}
.count-3 {
  color: var(--red)
}
.count-4 {
  color: var(--navy)
}
.count-5 {
  color: var(--orange)
}
.count-6 {
  color: var(--olive)
}
.count-7 {
  color: var(--purple)
}

.open {
  background: #fefefe;
  border: 1px solid transparent;
  cursor: unset;
}
